 /*-----font-family------*/
$primary-font-family: 'Roboto Condensed', sans-serif
$second-font-family: 'Open Sans', sans-serif


///*-----color-------*/
//$primary-color: #fff
//
//$primary-header-text-color: #aaaaaa
//$second-header-text-color: #757575
//
//$primary-services-text-color: #d8d8d8
//
//$primary-blog-bg-color: #2d2d2f
//$second-blog-bg-color: #555557
//
//$second-masonry-blog-color: #818181
//
$primary-text-color: #362f2f
$second-text-color: #fff
$third-text-color: #000
//
$primary-bg-color: #000
$second-bg-color: #f8f8f8


$primary-btn-color: #c3a000
//
//$form-color: #464646
//
//$sidebar-border-color: #b7b7b7
//
///*-----font-size-------*/
$tiny-font-size: 12px
$extra-small-font-size: 14px
$small-font-size: 16px
$medium-font-size: 18px
$big-font-size: 26px
$extra-big-font-size: 30px